.container {
  width: 100%;
  height: 50vh;
}

.card {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-right: #03c04a 5px solid;
}
