[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-jwt = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
bs4 = "*"
requests = "*"
lxml = "*"
pymysql = "*"
flask-mail = "*"
aiohttp = "*"

[dev-packages]
pandas = "*"
pylint = "*"
black = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
